<div class="main-container">
  <div class="create-button" (click)="showForm(true)">
    <span class="material-symbols-outlined"> add </span>
  </div>

  <div class="container-tasks">
    <div class="title">
      <div>A Fazer</div>
    </div>
    <ng-container *ngFor="let item of items$ | async">
      <div
        class="task"
        *ngIf="item.category === 'A Fazer'"
      >
        <span class="material-symbols-outlined horiz" (click)="updateTask(item)"> more_horiz </span>
        <div class="bar"></div>
        <div class="info">
          {{ item.task }}
        </div>
        <div class="icons">
          <span class="material-symbols-outlined" (click)="deleteTask(item.id)"
            >Close</span
          >
          <span
            class="material-symbols-outlined"
            (click)="editCategory(item, 'Fazendo')"
          >
            skip_next
          </span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container-tasks">
    <div class="title">
      <div>Fazendo</div>
    </div>
    <ng-container *ngFor="let item of items$ | async">
      <div
        class="task"
        *ngIf="item.category === 'Fazendo'"
      >
        <span class="material-symbols-outlined horiz" (click)="updateTask(item)"> more_horiz </span>
        <div class="bar"></div>
        <div class="info">
          {{ item.task }}
        </div>
        <div class="icons">
          <span
            class="material-symbols-outlined"
            (click)="editCategory(item, 'A Fazer')"
          >
            skip_previous
          </span>
          <span class="material-symbols-outlined" (click)="deleteTask(item.id)"
            >Close</span
          >
          <span
            class="material-symbols-outlined"
            (click)="editCategory(item, 'Entregue')"
          >
            skip_next
          </span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container-tasks">
    <div class="title">
      <div>Entregues</div>
    </div>
    <ng-container *ngFor="let item of items$ | async">
      <div
        class="task"
        *ngIf="item.category === 'Entregue'"
      >
        <span class="material-symbols-outlined horiz" (click)="updateTask(item)"> more_horiz </span>
        <div class="bar"></div>
        <div class="info">
          {{ item.task }}
        </div>
        <div class="icons">
          <span
            class="material-symbols-outlined"
            (click)="editCategory(item, 'Fazendo')"
          >
            skip_previous
          </span>
          <span class="material-symbols-outlined" (click)="deleteTask(item.id)"
            >Check</span
          >
        </div>
      </div>
    </ng-container>
  </div>

  <app-form
    (hiddenForm)="showForm(false)"
    [category]="category"
    [task]="task"
    [id]="id"
  />

  <app-box-model [id]="id" />
</div>
