<div class="form-container" id="form">
  <span class="material-symbols-outlined close-icon" (click)="hiddenClick()"
    >Close</span
  >

  <div class="container-inputs">
    <div class="inputs">
      <div class="number">1</div>
      <span class="material-symbols-outlined"> drag_indicator </span>
      <input [(ngModel)]="task" type="text" placeholder="Titulo" />
    </div>

    <div class="inputs">
      <div class="number">2</div>
      <span class="material-symbols-outlined"> drag_indicator </span>
      <select name="" id="" [(ngModel)]="category">
        <option value="" disabled selected>Selecione uma categoria</option>
        <option value="A Fazer">A Fazer</option>
        <option value="Fazendo">Fazendo</option>
        <option value="Entregue">Entregue</option>
      </select>
    </div>

    <div class="inputs">
      <div
        class="button"
        *ngIf="value$ | async; else valorIsFalse"
        (click)="createNewTask()"
      >
        Criar Task
      </div>
      <ng-template #valorIsFalse
        ><div (click)="updateTask()" class="button">
          Editar Task
        </div></ng-template
      >
    </div>
  </div>
</div>
