<div class="form-container" id="form">
  <span class="material-symbols-outlined close-icon" (click)="hiddenClick()"
    >Close</span
  >

  <div class="container-inputs">

    <div class="inputs">
      <div class="number">1</div>
      <span class="material-symbols-outlined"> drag_indicator </span>
      <input type="text" />
    </div>

    <div class="inputs">
      <div class="number">2</div>
      <span class="material-symbols-outlined"> drag_indicator </span>
      <select name="" id="">
        <option value="A Fazer">A Fazer</option>
        <option value="Fazendo">Fazendo</option>
        <option value="Entregue">Entregue</option>
      </select>
    </div>

    <div class="inputs">
      <div class="number">3</div>
      <span class="material-symbols-outlined"> drag_indicator </span>
      <input type="text" />
    </div>

    <div class="inputs">
      <button>Criar Task</button>
    </div>
  </div>
</div>
